<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Practice</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app" class="product">
        <div class="product-image">
            <img :src="image" />
        </div>
        <div class="product-info">
            <h1 :class="cb">{{product}}</h1>
            <p v-show="onSale">on Sale!</p>
            <p>{{`${inventory} 개 남음`}}</p>
            <p v-if="inventory >10">In Stock</p>
            <p v-else-if="inventory<=10 && inventory>0">Almost sold out Hurry!!</p>
            <p v-else :class="{textDeco : !inStock}">Out of Stock</p>
            <ul>
                <li v-for="content in details">{{content}}</li>
            </ul>
            <div v-for="variant in variants" 
                 :key="variant.variantsId"
                 class="color-box"
                 :style="{backgroundColor:variant.color}"
                 @mouseover="changeProduactColor(variant.image)" 
            ></div>
            <ul>
                <option v-for="size in sizes" value="size">{{size}}</option>
            </ul>
            <h2>{{`${product}\n ${description}`}}</h2>
            <div class="d-flex">
                <button 
                    @click="addToCart" 
                    :disabled="!inStock"
                    :class="{disabledButton : !inStock}"
                    >Add to Cart</button>
                <button @click="removeFromCart">remove from Cart</button>
                <div class="btn-style">
                    <p>Cart({{cart}})</p>
                </div>
            </div>
        </div>
    </div>
    <div id="app2">
        <h1>{{product}}</h1>
        <h2>{{description}}</h2>
        <h2>{{value1+value2}}</h2>
        <h2>{{value1+value2 == 2 ? "true" : "false"}}</h2>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const appName = "Vue Pratice"
        setInterval(() => {
            if(app.inventory>=0){
                app.inventory = app.inventory -1;
                if(app.inventory ==0){
                    app.inStock = false
                }
            }    
        }, 1000);
    </script>
    <script src="main.js"></script>
</body>
</html>